/* 
Rød: #901D1E
Gul: #F1D013
Grøn: #11743C
*/
/* ________________________________________________ VIDEO ________________________________________________
<!-- Inspiration til baggrundsvideo fra http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video */
html {
    box-sizing: border-box;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: normal; 
    font-family: oswald, sans-serif;
}


video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
   
    background-size: cover; 
}



/* ________________________________________________ HEADER ________________________________________________ */

.header-container {
    background-color: #ffffff;
}
nav {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;

}
 nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} 

nav ul li {
  /* display: inline-block; */
    height: 100%;
      flex: 1 1 100%;
       margin: 0 auto;

   /* width: auto;
        margin: 0 auto; */
           /* -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1; */

}
nav ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
}
nav a:hover {
/* color: #31444C; */
}
.active {
text-decoration: underline;
}
/* _________________________________________________ MAIN _________________________________________________ */

.hubbtn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Oswald;
  color: #ffffff;
  font-size: 30px;
  background: #901D1E;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: 10%;
}
.ctabtn {
  -webkit-border-radius: 4; 
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Oswald;
  color: #ffffff;
  font-size: 20px;
  background: #901D1E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 2%;
}

.ctabtn:hover, .hubbtn:hover {
  background: #bc2325;
  text-decoration: none;
}

#hub {
    margin-top: 25%;
}
#hub h2 {
    color: #ffffff;
    margin: 3% 0 10% 0;

}
.main-container {
    text-align: center;
}
article header {

    min-width: 100%;
    min-height: 300px;
 background-image(media/img/banner.png);

}

article header h1 {
    color: #ffffff;

}


/* ________________________________________________ FOOTER ________________________________________________ */

.footer-container {
    background-color: #11743C;
        color: #ffffff;
    text-align: center; 
    position: absolute;
    bottom: -293px;
    width: 100%;
}
footer section {
        display: inline-block;
        width: 49%;
}
