/* 
Rød: #901D1E
Gul: #F1D013
Grøn: #11743C
*/
/* ________________________________________________ VIDEO ________________________________________________
<!-- Inspiration til baggrundsvideo fra http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video */
html {
    box-sizing: border-box;
    font-weight: normal;
}
h2 {
    text-transform: uppercase;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
   
    background-size: cover; 
}



/* ________________________________________________ HEADER ________________________________________________ */
nav {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;

}
nav ul {
    display: -moz-box;
    display: -webkit-box;
    display: inline-box;
}

nav ul li {
   display: inline-block; 
    height: 100%;
   /* width: auto;
        margin: 0 auto; */
            -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;

}
nav ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
nav a:hover {
color: #31444C;
}
/* _________________________________________________ MAIN _________________________________________________ */
/* ________________________________________________ FOOTER ________________________________________________ */

.footer-container {
    background-color: #11743C;
        color: #ffffff;
    text-align: center;
}
footer section {
        display: inline-block;
        width: 49%;
}
